<div class="container flex flex-col w-[300px] bg-zinc-900 p-5 text-white items-center">

  <div class="border-2 text-zinc-500 border-zinc-500 w-[100px] h-[100px] mb-2 rounded-full flex justify-center items-center">
    <i class="icon-user text-4xl"></i>
  </div>

  <form class="flex flex-col w-[80%]" [formGroup]="form" (ngSubmit)="onSubmit()">

    <div class="container flex flex-col mb-7 text-zinc-500 relative">
      <label class="w-full mb-2">Username*:</label>
      <i class="icon-user flex items-center"><input type="text" formControlName="username" class="text-white mx-2"></i>
      <div *ngIf="username.touched && username.invalid" class="absolute top-5 left-[1px]">
        <p *ngIf="username.errors?.minlength" class="text-red-600 font-medium mb-2 text-xs">Too short username</p>
        <p *ngIf="username.errors?.required" class="text-red-600 font-medium mb-2 text-xs">Username is required</p>
        <p *ngIf="username.errors?.maxlength" class="text-red-600 font-medium mb-2 text-xs">Too long username</p>
      </div>
    </div>

    <div class="container flex flex-col mb-7 text-zinc-500 relative">
      <label class="w-full mb-2">Password*:</label>
      <i class="icon-key flex items-center"><input type="password" formControlName="password" class="text-white mx-2"></i>
      <div *ngIf="password.touched && password.invalid" class="absolute top-5 left-[1px]">
        <p *ngIf="password.errors?.minlength" class="text-red-600 font-medium mb-2 text-xs">Minimum 8 characters</p>
        <p *ngIf="password.errors?.required" class="text-red-600 font-medium mb-2 text-xs">Password is required</p>
      </div>
    </div>

    <div class="container flex flex-col mb-7 text-zinc-500 relative">
      <label class="w-full mb-2">Email*:</label>
      <i class="icon-arrow-right2 flex items-center"><input type="email" formControlName="email" class="text-white mx-2"></i>
      <div *ngIf="email.touched && email.invalid" class="absolute top-5 left-[1px]">
        <p *ngIf="email.errors?.email" class="text-red-600 font-medium mb-2 text-xs">Typed email wrong</p>
        <p *ngIf="email.errors?.required" class="text-red-600 font-medium mb-2 text-xs">Email is required</p>
      </div>
    </div>

    <div class="container flex flex-col mb-7 text-zinc-500 relative">
      <label class="w-full mb-2">Firstname*:</label>
      <i class="icon-arrow-right2 flex items-center"><input type="text" formControlName="firstname" class="text-white mx-2"></i>
      <div *ngIf="firstname.touched && firstname.invalid" class="absolute top-5 left-[1px]">
        <p *ngIf="firstname.errors?.required" class="text-red-600 font-medium mb-2 text-xs">Firstname is required</p>
      </div>
    </div>

    <div class="container flex flex-col mb-7 text-zinc-500 relative">
      <label class="w-full mb-2">Lastname*:</label>
      <i class="icon-arrow-right2 flex items-center"><input type="text" formControlName="lastname" class="text-white mx-2"></i>
      <div *ngIf="lastname.touched && lastname.invalid" class="absolute top-5 left-[1px]">
        <p *ngIf="lastname.errors?.required" class="text-red-600 font-medium mb-2 text-xs">Lastname is required</p>
      </div>
    </div>

    <div class="login-actions flex flex-row justify-between my-5 text-zinc-500">
      <button type="submit" class="w-[80px] h-[30px] custom-action" [disabled]="form.invalid">OK</button>
      <button type="button" class="w-[80px] h-[30px] custom-action" (click)="onClose()">Cancel</button>
    </div>

  </form>

</div>
