.logo-center {
  left: 50%;
  top: 40%;
  transform: translate(-50%, -50%);
  z-index: 999;
}

.go-shop {
  color: silver;
  width: 175px;
  height: 40px;
  position: absolute;
  border: 2px silver solid;
  left: 50%;
  top: 70%;
  transform: translate(-50%, -50%);
  transition: all 0.3s ease-in-out;

  &:hover {
    color: white;
    border-color: white;
  }
}

.home-description {
  color: white;
  position: absolute;
  left: 50%;
  top: 80%;
  transform: translate(-50%, -50%);
  width: 60%;
}
