<div class="h-full w-full bg-zinc-900 relative">
  <img src="assets/images/Rectangle%203.png" alt="Main page" class="h-full absolute">
  <div class="w-[320px] h-[320px] border-2 absolute logo-center text-white items-center px-5 flex flex-col justify-center">
    <div class="text-5xl logo-font" routerLink=""><i class="icon-spades mx-2 text-4xl"></i>SPADES</div>
    <div class="h-[2px] w-full bg-white my-2"></div>
    <span class="text-xl tracking-[.5em]">Tel-Aviv</span>
  </div>
  <button class="go-shop" routerLink="products">Let's Shopping</button>
  <p class="home-description text-center text-xs select-none">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias aliquid animi at atque
    consequuntur cupiditate dolorem doloribus
    eaque earum eos expedita fuga hic impedit in incidunt ipsa ipsam iste iure iusto, laboriosam modi nesciunt nostrum obcaecati quae qui quis quod reiciendis
    repellat sequi sint sit, temporibus ut vero? Aliquam, consectetur.</p>
</div>
