<nav class="h-[80px] flex justify-around items-center text-white bg-zinc-900 px-10">
  <div class="h-[80px] flex justify-center items-center text-4xl logo-font cursor-pointer select-none" routerLink=""><i class="icon-spades mx-2 text-2xl"></i>SPADES</div>
  <div class="h-[80px] flex justify-center items-center text-gray-400">
    <a routerLink="/products" routerLinkActive="active" class="px-5">PRODUCTS</a>
    <a routerLink="/about" routerLinkActive="active" class="px-5">ABOUT</a>
    <a routerLink="/cart" routerLinkActive="active" class="px-5"><i class="icon-cart"></i></a>
    <a routerLink="/search" routerLinkActive="active" class="px-5"><i class="icon-search"></i></a>
  </div>
</nav>
